<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headerFragment">
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li class="mx-1"><a href="#" class="nav-link px-2 link-body-emphasis">음성 합성 엔진</a></li>
                    <li class="mx-1"><a href="#" class="nav-link px-2 link-body-emphasis">아티스트</a></li>
                    <li class="mx-1"><a href="#" class="nav-link px-2 link-body-emphasis">노래</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control" placeholder="검색..." aria-label="Search">
                </form>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                             width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" style="">
                        <li><a class="dropdown-item" th:href="@{/user/login}">로그인</a></li>
                        <li><a class="dropdown-item" th:href="@{/user/register}">회원가입</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>
</html>