<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="headerFragment">
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a th:href="@{/}" class="m-1">
                    <img src="https://cdn.pixabay.com/photo/2017/02/27/20/48/headphones-2104207_960_720.png"
                         width="48" height="48" class="rounded-circle">
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 m-1">
                    <li class="mx-1"><a th:href="@{/search/song}" class="nav-link px-2 link-body-emphasis m-1">노래</a></li>
                    <li class="mx-1"><a th:href="@{/search/artist}" class="nav-link px-2 link-body-emphasis m-1">아티스트</a></li>
                    <li class="mx-1"><a th:href="@{/search/vocalist}" class="nav-link px-2 link-body-emphasis m-1">가수</a></li>
                </ul>

                <div class="dropdown text-end">
                    <!-- 로그인이 안된 경우  -->
                    <div sec:authorize="!isAuthenticated()">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle-split"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                 width="32" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" th:href="@{/user/login}">로그인</a></li>
                            <li><a class="dropdown-item" th:href="@{/user/register}">회원가입</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</html>