<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="listBoxContentFragment">
    <div class="col">
        <div class="card shadow-sm mb-3">
            <svg class="bd-placeholder-img card-img-top" width="200" height="150" xmlns="http://www.w3.org/2000/svg" role="img"
                 aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#55595c"/>
            </svg>
            <div class="card-body">
                <p class="card-title">노래 제목</p>
                <p class="card-text small-caps text-secondary">아티스트 feat. 가수</p>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-body-secondary">9999/99/99</small>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                th:onclick="|location.href='@{/post/song}'|"
                        >더보기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>