<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="mainBoxFragment">
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" class="" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="600" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>메인 화면</h1>
                        <p>정보를 입력하세요.</p>
                    </div>
                </div>
            </div>
            <div th:insert="~{fragments/mainBoxContent :: mainBoxContentFragment}"></div>
            <div th:insert="~{fragments/mainBoxContent :: mainBoxContentFragment}"></div>
        </div>
    </div>
</div>
</html>