<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="mainBoxContentFragment">
    <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="600" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="container">
            <div class="carousel-caption text-end">
                <h1>메인 화면</h1>
                <p>정보를 입력하세요.</p>
            </div>
        </div>
    </div>
</div>
</html>