<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="searchFilterFragment">
    <div class="container">
        <div class="row justify-content-center">
            <form role="search" class="col-md-10">
                <div class="input-group">
                    <label for="search"></label><input class="form-control me-2" type="search" id="search" placeholder="검색어를 입력하세요...">
                    <button class="btn btn-outline-success col-1" type="submit">필터</button>
                    <button class="btn btn-outline-success col-1" type="submit">정렬</button>
                    <button class="btn btn-outline-success col-1" type="submit">검색</button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>