<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="searchFilterFragment">
    <div class="container">
        <div class="row justify-content-center">
            <form role="search" class="card col-md-12 row-cols-1">
                <div class="card-body input-group">
                    <label for="name"></label><input class="form-control me-2" type="search" id="name" placeholder="검색어를 입력하세요..." oninput="songSearch()">
                    <div class="btn btn-outline-success col-2" onclick="toogleDetails(this)">상세</div>
                </div>
                <div id="details"  style="display: none;">
                    <div class="card-body input-group">
                        <h6 class="col-2">노래 유형</h6>
                        <div class="input-group col-10">
                            <div class="btn btn-outline-secondary col-2 active" onclick="toggleActive(this)">
                                오리지널
                            </div>
                            <div class="btn btn-outline-secondary col-2 active" onclick="toggleActive(this)">
                                커버
                            </div>
                            <div class="btn btn-outline-secondary col-2 active" onclick="toggleActive(this)">
                                리마스터
                            </div>
                            <div class="btn btn-outline-secondary col-2 active" onclick="toggleActive(this)">
                                리믹스
                            </div>
                            <div class="btn btn-outline-secondary col-2 active" onclick="toggleActive(this)">
                                매쉬업
                            </div>
                            <div class="btn btn-outline-secondary col-2 active" onclick="toggleActive(this)">
                                뮤직 비디오
                            </div>
                        </div>
                    </div>
                    <div class="card-body input-group">
                        <div class="col-4">
                            <h6 class="col-6">
                                아티스트
                            </h6>
                            <div class="input-group">
                                <label for="song_artist"></label>
                                <input class="form-control me-2" type="search" id="song_artist" placeholder="검색어를 입력하세요..." oninput="songSearch()">
                            </div>
                        </div>
                        <div class="col-4">
                            <h6 class="col-6">
                                가수
                            </h6>
                            <div class="input-group">
                                <label for="song_vocalist"></label>
                                <input class="form-control me-2 col-12" type="search" id="song_vocalist" placeholder="검색어를 입력하세요..." oninput="songSearch()">
                            </div>
                        </div>
                        <div class="col-4">
                            <h6 class="col-6">
                                상위 항목
                            </h6>
                            <div class="input-group col-md-12">
                                <label for="parent"></label>
                                <input class="form-control col-12" type="search" id="parent" placeholder="검색어를 입력하세요..." oninput="songSearch()">
                            </div>
                        </div>
                    </div>
                    <div class="card-body input-group">
                        <div class="col-4">
                            <h6 class="col-6">
                                정렬
                            </h6>
                            <div class="input-group">
                                <label for="sort"></label>
                                <select class="form-select me-2" id="sort" required="" onchange="songSearch()">
                                    <option value="name">이름</option>
                                    <option value="published_upper">발매일 (최신)</option>
                                    <option value="published_lower">발매일 (과거)</option>
                                    <option value="created_upper">생성일 (최신)</option>
                                    <option value="created_lower">생성일 (과거)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <h6 class="col-6">
                                개수
                            </h6>
                            <div class="input-group col-md-12">
                                <label for="number"></label>
                                <select class="form-select me-2" id="number" required="" onchange="songSearch()">
                                    <option value="10">10개</option>
                                    <option value="20">20개</option>
                                    <option value="50">50개</option>
                                    <option value="100">100개</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <h6 class="col-6">
                                발매일
                            </h6>
                            <div class="input-group col-md-4">
                                <label for="year"></label>
                                <select class="form-select" id="year" required="" onchange="songSearch()">
                                    <option value="0">연도...</option>
                                    <option value="2007">2007년</option>
                                    <option value="2008">2008년</option>
                                    <option value="2009">2009년</option>
                                    <option value="2010">2010년</option>
                                    <option value="2011">2011년</option>
                                    <option value="2012">2012년</option>
                                    <option value="2013">2013년</option>
                                    <option value="2014">2014년</option>
                                    <option value="2015">2015년</option>
                                    <option value="2016">2016년</option>
                                    <option value="2017">2017년</option>
                                    <option value="2018">2018년</option>
                                    <option value="2019">2019년</option>
                                    <option value="2020">2020년</option>
                                    <option value="2021">2021년</option>
                                    <option value="2022">2022년</option>
                                    <option value="2023">2023년</option>
                                    <option value="2023">2024년</option>
                                </select>
                                <label for="month"></label>
                                <select class="form-select" id="month" required="" onchange="songSearch()" style="display: none;">
                                    <option value="0">월...</option>
                                    <option value="1">01월</option>
                                    <option value="2">02월</option>
                                    <option value="3">03월</option>
                                    <option value="4">04월</option>
                                    <option value="5">05월</option>
                                    <option value="6">06월</option>
                                    <option value="7">07월</option>
                                    <option value="8">08월</option>
                                    <option value="9">09월</option>
                                    <option value="10">10월</option>
                                    <option value="11">11월</option>
                                    <option value="12">12월</option>
                                </select>
                                <label for="day"></label>
                                <select class="form-select" id="day" required="" onchange="songSearch()" style="display: none;">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>