<!DOCTYPE html>
<!-- HTML 시작 부분 정의 (언어 설정, thymeleaf 적용, 부트스트랩의 테마를 자동으로 선택하도록 적용, 스프링 시큐리티 적용) -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- 웹 문서의 속성 선언 -->
<head>
    <!-- metaData 정의 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

    <!-- thymeleaf 엔진으로 링크 및 스크립트의 주소를 동적으로 생성헤 적용 -->
    <link th:href="@{../static/css/login.css}" rel="stylesheet"/>
    <link th:href="@{../static/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{../static/js/login.js}"></script>
    <script th:src="@{../static/js/color-modes.js}"></script>
    <script th:src="@{../static/js/bootstrap.bundle.min.js}"></script>

    <!-- 웹 페이지의 제목 지정 -->
    <title>vocawik::ID 로그인</title>
</head>

<!-- 웹 문서의 모양 선언 -->
<body class="d-flex align-items-center py-4 bg-body-tertiary gbx-installed">

<main class="form-signin w-100 m-auto">
    <!-- 로그인 박스 -->
    <div th:insert="~{fragments/loginBox :: loginBoxFragment}"></div>
</main>

<!-- 모든 페이지에 추가될 요소 -->
<div th:insert="~{fragments/darkmodToggle :: darkmodToogleFragment}"></div>
</body>

</html>